.channelRow {
  display: flex;
  align-items: center;
  width: 70%;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    height: 120px !important;
    width: 120px;
    margin: 10px 60px;
  }
}

.channelRow > p {
  color: #606060;
  font-size: small !important;
}

.channelRow__text > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
